.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  padding: 20px 20px;
}

.Item-title:hover{
  cursor: pointer;
  text-decoration: underline;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
}

.Item-title {
  color: inherit;
  text-decoration: none;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.Item-price {
  white-space: nowrap;
  font-size: 18px;
}
