.CommentNotLogin {
    display: flex;
    padding: 30px 0;
    font-size: 16px;
    justify-content: flex-start;
}

.CommentNotLogin-text {
    display: flex;
    justify-content: flex-start;
}

.CommentNotLogin-link {
    color: #0087E9;
    text-decoration: underline;
    cursor: pointer;
}

.CommentNotLogin-btn {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
}