/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.BasketTool-nav {
  text-decoration: underline;
  
}

.BasketTool-label {
  margin-left: auto;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
